<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635480691275-n76d5s4heorvaa42usu91utfl7ct5opj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635480691275-n76d5s4heorvaa42usu91utfl7ct5opj</string>
	<key>API_KEY</key>
	<string>AIzaSyCeWRPb3ylkNgbmfYsaTf1dVpTg1hA6xqs</string>
	<key>GCM_SENDER_ID</key>
	<string>635480691275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.prince.ConfineUp</string>
	<key>PROJECT_ID</key>
	<string>confineup</string>
	<key>STORAGE_BUCKET</key>
	<string>confineup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635480691275:ios:672bbb000026cb727f73ce</string>
	<key>DATABASE_URL</key>
	<string>https://confineup.firebaseio.com</string>
</dict>
</plist>